﻿@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel



<div class="row">
    <div class="col-md-9">
        <h1 style="font-family: 'Comic Sans MS'">This is the most beautiful weblog ever created. Period.</h1>

        <h2>Posts</h2>
        @foreach(var post in Model.Posts)
        {
            <h4>@post.Title</h4>
            <p>@post.Summary</p>
        }

    </div>
    
</div>
